*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  padding: clamp(20px, 5vw, 50px) 20px 20px;
}

.wiki-logo {
  width: clamp(100px, 25vw, 250px);
  display: block;
  margin: 50px auto 0;
}

h1 {
  font-size: clamp(20px, 5vw, 50px);
  color: #333;
  text-align: center;
  margin: 20px 0 10px;
  font-weight: 100;
}

h1 span {
  font-weight: 800;
}

form {
  max-width: 800px;
  margin: 0 auto 30px;
}

.search-container {
  display: flex;
  align-items: center;
}

input.search-input {
  flex: 1;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

select.language-select {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  margin-right: 20px;
}

select.language-select:hover {
  background: #f1f1f1;
}

select.language-select option {
  background: #fff;
  color: #333;
}

.theme-toggle-button {
  padding: 15px;
  font-size: 18px;
  color: #ffffff;
  background: #a09f9f;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-weight: 700;
}

.theme-toggle-button:hover {
  background-color: #b0b0b0;
  color: #585858;
}

.suggestions-list {
  position: absolute;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f1f1f1;
}

.search-button {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 15px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: #333;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 20px auto 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-button:hover {
  background-color: #50575e;
}

.error-msg {
  text-align: center;
  color: #454545;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}

.results-display {
  max-width: 600px;
  margin: 70px auto;
}

.loader {
  display: none;
  justify-content: center;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #111;
  margin: 0 3px;
  animation: load 0.3s infinite ease-out alternate;
}

.dot:nth-child(2) {
  animation-delay: 0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes load {
  to {
    transform: translateY(10px);
  }
}

.result-item {
  margin-bottom: 20px;
}

.result-title {
  font-size: 22px;
}

.result-title a {
  color: #312f2f;
  text-decoration: none;
}

.result-title a:hover,
.result-title a:focus {
  color: #7d7d7d;
}

.result-snippet {
  font-size: 15px;
  color: #444;
}

.result-link {
  color: #006621;
  text-decoration: none;
  display: block;
  overflow-wrap: break-word;
}

body.dark-mode {
  background: #121212;
  color: #e0e0e0;
}

body.dark-mode h1 {
  color: #e0e0e0;
}

body.dark-mode .error-msg {
  color: #e0e0e0;
  border-radius: 3px;
  padding: 15px;
}

body.dark-mode .search-input,
body.dark-mode .language-select,
body.dark-mode .search-button,
body.dark-mode .theme-toggle-button {
  background: #333;
  color: #e0e0e0;
  border: 1px solid #444;
}

body.dark-mode .search-input::placeholder,
body.dark-mode .language-select option {
  color: #e0e0e0;
}

body.dark-mode .search-button:hover,
body.dark-mode .theme-toggle-button:hover {
  background-color: #50575e;
}

body.dark-mode .result-title a {
  color: #e0e0e0;
}

body.dark-mode .result-title a:hover,
body.dark-mode .result-title a:focus {
  color: #6b6969;
}

body.dark-mode .suggestion-item {
  color: #444;
}

body.dark-mode .suggestion-item:hover {
  background: #444;
  color: #e0e0e0;
}

body.dark-mode .language-select {
  color: #ffffff;
}

body.dark-mode .language-select:hover {
  background: #a4a4a4;
  color: #000000;
}

body.dark-mode .theme-toggle-button {
  background: #585858;
}

@media (max-width: 768px) {
  .search-button {
    font-size: 1rem;
    padding: 12px;
    max-width: 250px;
  }
}

@media (max-width: 600px) {
  .search-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .search-input {
    width: 100%;
    margin-right: 0;
  }
  .language-select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .theme-toggle-button {
    width: 100%;
    margin-bottom: 10px;
  }
  .search-button {
    font-size: 0.9rem;
    padding: 10px;
    max-width: 200px;
  }
}

@media (max-width: 400px) {
  .search-button {
    font-size: 0.8rem;
    padding: 8px;
    max-width: 150px;
  }
}
